[mysqld]
host_cache_size=0
skip-name-resolve

# 设置字符集为utf8mb4
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

# 设置不区分大小写
lower_case_table_names=1

[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4
